BOT_TOKEN=your_telegram_bot_token
ADMIN_CHAT_ID=your_telegram_chat_id

APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_api_key
APPWRITE_DATABASE_ID=your_database_id
APPWRITE_REVIEWS_COLLECTION_ID=reviews
APPWRITE_CASES_COLLECTION_ID=cases
APPWRITE_BUCKET_ID=your_bucket_id
